<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}eCommerce Box{% endblock %}</title>

    {% block head_css %}
        <!-- Bootstrap CSS -->
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ asset('css/jquery.dataTables.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock %}

    {% block head_js %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light text-center border-bottom shadow-sm p-3 mb-2 bg-white static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">eCommerce Box</a>

        <ul class="nav d-flex justify-content-between">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('orders') }}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('expenses') }}">Expenses</a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('add_order') }}">Add Order</a>
                    <a class="dropdown-item" href="{{ path('add_expense') }}">Add Expense</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}

{% block footer %}
<div class="border-top p-3 mt-5 bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/init.min.js') }}"></script>
{% endblock %}
</body>

</html>
